.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1120px;
  /* color: #010101; */
  color: #2A2C2F;

}

/* Медиа-запросы */
/* @media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 424px) {

} */
