.header__links {
  list-style: none;
  display: flex;
  gap: 33px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 424px) {
  .header__links {
    gap: 30px;
    flex-direction: column;
  }
}