.form__button {
  border: none;
  font-size: 12px;
  line-height: 1.2;
  background-color: black;
  color:  #F2F2F2;
  box-sizing: border-box;
  min-height: 28px;
  letter-spacing: 0.02em;
  transition: background-color .8s ease;
}

.form__button:hover {
  background-color: #FFFAFA;
  color: black;
  border: .5px solid black;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .form__button {
    background-color: #FFFAFA;
    color: black;
    font-weight: 600;
  }

  .form__button:hover {
    background-color: black;
    color: #FFFAFA;
    border: .5px solid #FFFAFA;
  }
}
