.form__item_where {
  min-height: 27px;
}


/* input::placeholder {
  text-overflow: ellipsis;
  opacity: 1;
  color: black;
  transition: opacity 0.3s ease;

}

input::placeholder:focus {
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;

} */
