.form__item {
  padding: 8px 14px;
  margin: 0 0 16px 0;
  border: none;
  background-color: #FFFAFA;
  font-family: inherit;
}

.form__item:focus {
  outline: .5px solid black;
}

.form__item::placeholder {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
  color: black;
}

.form__item:focus::placeholder {
  color:transparent;
}
