.place__paragraph {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.65;
  max-width: 315px;
  margin: 0 0 20px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 560px;
  }
}

@media screen and (max-width: 424px) {
  .place__paragraph {
    margin-bottom: 15px;
    font-size: 10px;
  }
}
