.form__title {
  /* width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box; */
  max-width: 215px;
  margin: 120px 0 65px 65px;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.3;
}
