.form__container {
  width: calc((50% - 65px) * .63);
  margin: 120px 0 0 60px;
  display: flex;
  flex-direction: column;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .form__container {
    width: calc((50% - 60px) * .62);
    min-width: 252px;
    margin: 60px;
  }
}

@media screen and (max-width: 767px) {
  .form__container {
    width: calc(100% - 40px * 2);
    margin: 40px;
  }
}

@media screen and (max-width: 424px) {
  .form__container {
    width: calc(100% - 20px * 2);
    margin: 40px 20px;
  }
}
