.people {
  width: 100%;
  margin: 0 auto;
  padding: 118px 60px 110px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .people {
    padding: 100px 40px 90px;
  }
}

@media screen and (max-width: 424px) {
  .people {
    padding: 40px 30px 50px;
  }
}