.intro__image {
  width: 310px;
  height: 310px;
  position: absolute;
  top: 36px;
  right: 78px;
  z-index: 1;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .intro__image {
    top: 20px;
    right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .intro__image {
    top: 20px;
    right: 0px;
  }
}

@media screen and (max-width: 424px) {
  .intro__image {
    width: 100%;
    top: 10px;
    right: 0;
  }
}